/**************************
      Universal Styles
**************************/ 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#EFE6E1, #F2EADF);
    overflow-x: hidden;
}

/**************************
       Header Styles
**************************/ 
.container{
    max-width: 100%;
    margin: auto;
    padding: 0 25px;
}

.header{
    background-color: #99B1DD;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    font-family: 'Rubik Puddles', system-ui;
    font-size: 50px;
    color: #ffffff;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-family: 'Single Day', cursive;
    font-size:22px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.profileiconimg{
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .row{
    margin-top: 70px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-family: 'Twinkle Star', cursive;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #685044;
}

.col-2 p{
    font-family: 'Unkempt', cursive;
    font-size: 30px;
    color: #685044;
}

.btn{
    display: inline-block;
    background-color: #DBB8B2;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    font-family: 'Twinkle Star', cursive;
    font-weight: normal;
    font-size: 20px;
    color: #F2EADF;
    cursor: pointer;
}

.btn:hover{
    background: #C9A195;
    color: #DBB8B2;
}

/**************************
       Footer Styles
**************************/ 
.footer{
    background: #99B1DD;
    height: 50%;
    color: #ffffff;
    font-size: 14px;
    padding: 2vw  2vw;
}

.footer p{
    color: #ffffff;
    font-family: 'Single Day', cursive;
    font-size: 20px;
}

.footer h3{
    color: #ffffff;
    font-family: 'Single Day', cursive;
    font-size: 30px;
    margin-bottom: 1vw;
}

.footer-col-1,.footer-col-2,.footer-col-3{
    min-width: 2vw;
    margin-bottom: 1vw;
}


.footer-col-1{
    width: 2vw;
    flex: 1;
    text-align: center;
    margin-bottom: 1vw;
}


.footer-col-2,
.footer-col-3{
    flex-basis: 30%;
    text-align: center;
}

.footer-col-2 h3,
.footer-col-3 h3{
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: 'Single Day', cursive;
    font-size: 20px;
}

.footer hr{
    border: none;
}

.copyright{
    text-align: center;
}

.footer a:hover{
    color: #DBB8B2;
}

/**************************
    Products Styles
**************************/ 
.browse-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.browsing-title{
    margin: 0;
    font-family: 'Twinkle Star', cursive;
    font-weight: bold;
    font-size: 50px; 
    color: #685044;
}

.browsing-container{
    width: 100%;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
    padding-bottom: 15px;
}

.cart-icon img{
    width: 50px;
    cursor: pointer;
}

.productlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.productlist .item{
    background-color: #DBB8B2;
    padding: 20px;
    border-radius: 20px;
}

.productlist .item img{
    width: 90%;
}

.productlist .item h2{
    font-weight: bold;
    font-size: larger;
    padding-top: 10px;
    color: #685044;
    font-family: 'Unkempt', cursive;
}

.productlist .item .price{
    letter-spacing: 3px;
    font-size: large;
    color: #685044;
    font-family: 'Unkempt', cursive;
}

.productlist .item button{
    background-color: #A87363;
    font-family: 'Twinkle Star', cursive;
    font-size: 20px;
    color: #F2EADF;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.carttab{
    width: 400px;
    background-color: #99B1DD;
    color: #F2EADF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showcart .carttab{
    inset: 0 0 0 auto;
}

body.showcart .carttab .browsing-container{
    transform: translateX(-250px);
}

.carttab h1{
    padding: 20px;
    margin: 0;
    font-weight: bold;
    color: #685044;
    font-family: 'Twinkle Star', cursive;
}

.carttab .closecart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carttab .closecart button{
    background-color: #DBB8B2;
    border: none;
    cursor: pointer;
    color: #685044;
    font-family: 'Unkempt', cursive;
    font-size: larger;
    font-weight: bold;
}

.carttab .closecart .closecartbtn{
    background-color: #C9A195;
    color: #685044;
    font-family: 'Unkempt', cursive;
    font-size: larger;
    font-weight: bolder;
}

.carttab .cartlist .item img{
    width: 100%;
}

.carttab .cartlist .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    color: #685044;
    font-family: 'Unkempt', cursive;
    font-size: larger;
    font-weight: bold;
}

.cartlist .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #EFE6E1;
    color: #7A5946;
    border-radius: 50%;
    cursor: pointer;
}

.cartlist .quantity span:nth-child(2){
    background-color: transparent;
    color: #7A5946;
}

.cartlist .item:nth-child(even){
    background-color: transparent;
}

.cartlist{
    overflow: auto;
}

.cartlist::-webkit-scrollbar{
    width: 0;
}

/*****************************
    Carousel Page Styles
*****************************/ 
.detail-container{
    display:flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 1vw 2.5vw;
}

.carousel-item-container{
    position: relative;
    width: 100%;
    float: left;
}

.custom-carousel-img{
    width: 50vw;
    height: 60vw;
    object-fit: cover;
}

.carousel-item{
    position: relative;
}

.sketchfab-embed-wrapper{
    width: 50vw;
    height: 60vw;
}

.carousel-control-prev,
.carousel-control-next{
    position: absolute;
    top: 50%;
    width: 5%;
    transform: translateY(-50%);
    color: #7A5946;
    background: none;
    border: none;
    font-size: 50px;
    font-style: bold;
}

.information-container{
    position: relative;
    width: 50%;
    float: right;
    padding-left: 20px;
}

.information-container h1{
    font-family: 'Unkempt', cursive;
    font-weight: bold;
    font-size: 50px;
}

.information-container h4{
    font-family: 'Unkempt', cursive;
    font-size: 29px;
}

.information-container h3{
    margin: 20px 0;
    font-family: 'Unkempt', cursive;
    font-weight: bold;
    font-size: 35px;
}

.information-container input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid #C9A195;
}

.information-container p{
    font-family: 'Unkempt', cursive;
    color: #7A5946;
    font-size: 25px;
    font-weight: bold;
}
.related-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.related-title{
    margin: 0;
    font-family: 'Twinkle Star', cursive;
    font-weight: bold;
    font-size: 50px; 
    color: #685044;
}

.related-header a{
    color: #A87363;
    font-family: 'Twinkle Star', cursive;
    color: #685044;
    font-size: 20px;
    font-weight: bold;
}

.related-header a:hover{
    color: #DBB8B2;
    cursor: pointer;
}

.small-container{
    width: 100%;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
    padding-bottom: 15px;
}

.relatedproductlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.relatedproductlist .item{
    background-color: #DBB8B2;
    padding: 20px;
    border-radius: 20px;
}

.relatedproductlist .item img{
    width: 90%;
}

.relatedproductlist .item h2{
    padding-top: 10px;
    font-weight: bold;
    font-size: larger;
    color: #685044;
    font-family: 'Unkempt', cursive;
}

.relatedproductlist .item .price{
    letter-spacing: 3px;
    font-size: large;
    color: #685044;
    font-family: 'Unkempt', cursive;
}

.relatedproductlist .item button{
    background-color: #A87363;
    font-family: 'Twinkle Star', cursive;
    font-size: 20px;
    color: #F2EADF;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

/*****************************
    One Image Page Styles
*****************************/ 
.product-image{
    width: 50%;
}

/************************
    About Page Styles
************************/ 
.about-container{
    padding: 1vw;
}

.abouttitle, .membertitle{
    font-family: 'Twinkle Star', cursive;
    font-weight: bold;
    font-size: 40px; 
    color: #685044;
}

.about-container h4{
    font-family: 'Unkempt', cursive;
    font-size: 30px;
    color: #685044;
}

.membercontainer{
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 1vw;
}

.membercontainer.col-2{
    flex: 0 0 46%;
    padding: 1vw;
    box-sizing: border-box;
    margin: 0 auto;
}

.member img{
    width:20vw;
    height: 47vh;
    border-radius: 50%;
    object-fit: cover;
}

.contact-title{
    padding-left: 1vw;
    padding-top: 5vw;
    font-family: 'Twinkle Star', cursive;
    font-weight: bold;
    font-size: 40px; 
    color: #685044;
}

.contact-details{
    padding-left: 1vw;
    font-family: 'Unkempt', cursive;
    font-size: 30px;
    color: #685044;
}

/************************
    Profile Page Styles
************************/ 
.account-title{
    text-align: center;
    font-family: 'Twinkle Star', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #7A5946;
}

.greeting{
    padding: 1vw;
}

.greeting h1{
    font-family: 'Unkempt', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #7A5946;
}

.profile-container{
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}

.shippingdetails-container{
    background: #DBB8B2;
    border-radius: 2vw;
    height: 40vh
}

.shippingdetails {
    padding: 1vw;
}

.shippingdetails h2, .userinformation h2, 
.history-container h2, .points-container h2{
    text-decoration: underline;
    font-family: 'Unkempt', cursive;
    font-size: 37px;
    color: #7A5946;
}

.userinformation h3, .shippingdetails h3,
.history-container h4{
    font-family: 'Unkempt', cursive;
    color: #7A5946;
    font-size: 30px;
}

.history-container{
    margin: 1vw;
}

.profilepage-btns{
    margin: 1vw;
}

.points-container{
    margin: 5vh 1vw 2vh;
}

.points-container h3, .points-container h4{
    font-family: 'Unkempt', cursive;
    color: #7A5946;
    font-size: 30px;
    font-weight: bold;
}

.points-container h4{
    font-weight: bold;
}

.points-container p{
    line-height: 1vw;
    font-family: 'Unkempt', cursive;
    color: #7A5946;
    font-size: 20px;
}

.profile-container .btn, .profilepage-btns .btn{
    background-color: #C9A195;
    font-family: 'Twinkle Star', cursive;
    font-size: 22px;
    color: #F2EADF;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

/********************
    SL Page Styles
********************/ 
.account-page{
    padding: 50px 0;
}

.form-container{
    background-color: #A87363;
    width: 40vw;
    height: 55vh;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
}

.form-container span{
    font-family: 'Twinkle Star', cursive;
    font-size: 30px;
    padding: 0   10px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    width: 40vw;
    padding: 0 20px;
    position: absolute;
    top: 7vw;
    transition: transform 1s;
}

form.btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 5px 0;
    background-color: #C9A195;
    font-family: 'Twinkle Star', cursive;
    font-size: 30px;
}

form.btn:focus{
    outline: none;
}

form a{
    padding: 1vw;
    font-family: 'Unkempt', cursive;
}

form a:hover{
    color: #99B1DD;
}

#SignupForm{
    left: 0;
}

#LoginForm{
    left: -50vw;
}

#lottieAnimationLogin{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: -35vw;
    transform: translateX(-50%);
    margin-bottom: 1vw;
}

/**************************
       Mobile Style
**************************/ 
.navicon{
    width: 8vw;
    margin-left: 1vw;
    display: none;
}

/**************************
       Media Queries
**************************/ 
@media only screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }
    /*Navigation Mobile Style*/
    .logo img{
        width: 12vw;
    }
    .logo{
        font-size: 20px;
    }
    nav ul{
        position: absolute;
        top: 20vw;
        left: 0;
        background-color: #99B1DD;
        width: 100%;
        overflow-y: auto;
        max-height: 50vh;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin: 1vw 5vw 1vw 0;
    }
    nav ul li a{
        color: #ffffff;
    }
    .navicon{
        display: block;
        cursor: pointer;
    }

    /*About Mobile Style*/
    .abouttitle, .membertitle, .contact-title{
        font-size: 25px;
        margin: 0;
    }
    .about-container h4{
        font-size: 20px;
        margin: 0;
    }
    .membercontainer{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1em;
        display: flex;
        flex-wrap: wrap;
    }
    .membercontainer.col-2{
        width: 50%;
        padding: 0 0.5em;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 1em;
    }
    .member-title{
        width: 100%;
        text-align: left;
        margin: 0;
        padding-left: 1em;
    }
    .member img{
        width: 80%;
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    .member h3{
        font-size: 23px;
        margin-bottom: 0.5em 0;
    }
    .member h4{
        font-size: 20px;
        margin-bottom: 0;
    }

    /*Products Mobile Style*/
    .productlist{
        grid-template-columns: repeat(2, 1fr);
    }

     /*Details Mobile Style*/
     .information-container h1{
        font-size: 27px;
        margin-bottom: 2vh;
     }
     .information-container h4{
        font-size: 20px;
        padding-top: 2vh;
     }
     .information-container input{
        margin-bottom: 2vh;
     }
     .information-container h3{
        margin: 1vh 0;
     }

    /*Profile Mobile Style*/
    .profile-container .col-2{
        padding-bottom: 6vw;
    }

    /*SL Mobile Style*/
    .signuplogin-page{
        padding-bottom: 4vw;
    }

    .signuplogin-page .col-2{
        padding-left: 5px;
    }

    .form-container{
        width: 80vw;
        height: 70vh;
        padding: 20px;
        margin: auto;
        overflow: hidden;
        border-radius: 30px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .form-container span{
        font-size: 15px;
        width: 80px;
    }
    
    .form-btn{
        display: inline-block;
    }
    
    .form-container form{
        width: 78vw;
        height: 20px;
        padding: 10px 20px;
        position: absolute;
        top: 10vw;
        left: 0;
        transition: transform 1s;
    }

    #SignupForm{
        left: 0;
    }
    
    #LoginForm{
        left: -77vw;
    }

    #lottieAnimationLogin{
        left: -47vw;
    }
}