/**************************
      Universal Styles
**************************/ 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#EFE6E1, #F2EADF);
    overflow-x: hidden;
}

/**************************
       Header Styles
**************************/ 
.container{
    max-width: 100%;
    margin: auto;
    padding: 0 25px;
}

.header{
    background-color: #99B1DD;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    font-family: 'Rubik Puddles', system-ui;
    font-size: 50px;
    color: #ffffff;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-family: 'Single Day', cursive;
    font-size:22px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.profileiconimg{
    margin-right: 10px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .row{
    margin-top: 70px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

p{
    color: #99B1DD;
}

.btn{
    display: inline-block;
    background-color: #C9A195;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #DBB8B2;
}

/**************************
       Footer Styles
**************************/ 
.footer{
    background: #99B1DD;
    height: 50%;
    color: #ffffff;
    font-size: 14px;
    padding: 2vw  2vw;
}

.footer p{
    color: #ffffff;
}

.footer h3{
    color: #ffffff;
    margin-bottom: 1vw;
}

.footer-col-1,.footer-col-2,.footer-col-3{
    min-width: 2vw;
    margin-bottom: 1vw;
}


.footer-col-1{
    width: 2vw;
    flex: 1;
    text-align: center;
    margin-bottom: 1vw;
}


.footer-col-2,
.footer-col-3{
    flex-basis: 30%;
    text-align: center;
}

.footer-col-2 h3,
.footer-col-3 h3{
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.footer hr{
    border: none;
}

.copyright{
    text-align: center;
}

.footer a:hover{
    color: #DBB8B2;
}

/**************************
    Products Styles
**************************/ 
.small-container{
    max-width: 100%;
    margin: 0 auto;
}

.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 50px;
}

.title-container{
    flex-basis: 50%;
}

.productspage-title{
    margin: 0;
}

.filter-container{
    flex-basis: 40%;
}

select{
    border: 1px solid #C9A195;
    padding: 5px;
    width: 15vw;
    margin-left: auto;
    display: block;
}

select:focus{
    outline: none;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

h4{
    font-weight: normal;
}

.col-4 p{
    font-size: 20px;
}

/*****************************
    Sloth Plush Page Styles
*****************************/ 
.detail-container{
    display:flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 1vw 2.5vw;
}

.carousel-item-container{
    position: relative;
    width: 100%;
    float: left;
}

.custom-carousel-img{
    width: 50vw;
    height: 60vw;
    object-fit: cover;
}

.carousel-item{
    position: relative;
}

.sketchfab-embed-wrapper{
    width: 50vw;
    height: 60vw;
}

.carousel-control-prev,
.carousel-control-next{
    position: absolute;
    top: 50%;
    width: 5%;
    transform: translateY(-50%);
    color: #7A5946;
    background: none;
    border: none;
    font-size: 50px;
    font-style: bold;
}

.information-container{
    position: relative;
    width: 50%;
    float: right;
    padding-left: 20px;
}

.information-container h3{
    margin: 20px 0;
}

.information-container input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid #C9A195;
}

input:focus{
    outline: none;
}

.viewmoreopt a{
    color: #7A5946;
}

.viewmoreopt a:hover{
    color: #C9A195;
}

/**********************
    Cart Page Styles
**********************/ 
.cartpage{
    margin: 2vw auto;
}

.cartpage h1{
    padding-left: 1vw;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cartproducts{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    background: #A87363;
    color: white;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
}

.totalcartprice{
    display: flex;
    justify-content: space-between;
}

.totalcartprice table{
    border-top: 3px solid #A87363;
    width: 100%;
    max-width: 400px;
}

.cart-points{
    color: #A87363;
    font-weight: bold;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.cartpage .btn{
    margin: 1vw;
}

.freeshipping-reminder {
    display: none;
    position: fixed;
    top: 21vh;
    right: 1.5vw;
    margin-left: 2vw;
    width: 250px;
}

.reminder-header {
    padding: 1.5vw 1.5vw;
    background: #7A5946;
    color: white;
}

.reminder-header h3{
    font-size: 25px;
}

.reminder-container{
    padding: 1.5vw;
    background-color: #7A5946;
    color: #ffffff;
}

.reminder-container h4{
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 0.5vw;
    right: 1.5vw;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/************************
    About Page Styles
************************/ 
.about-container{
    padding: 1vw;
}

.membercontainer{
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 1vw;
}

.membercontainer.col-2{
    flex: 0 0 46%;
    padding: 1vw;
    box-sizing: border-box;
    margin: 0 auto;
}

.member img{
    width:20vw;
    height: 47vh;
    border-radius: 50%;
    object-fit: cover;
}

.contact-title{
    padding-left: 1vw;
    padding-top: 5vw;
}

.contact-details{
    padding-left: 1vw
}

/************************
    Profile Page Styles
************************/ 
.account-title{
    margin: 1vw;
}

.profile-container{
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}

.shippingdetails{
    background: #DBB8B2;
    border-radius: 2vw;
}

.shippingdetails h2,
.shippingdetails h3{
    padding-left: 1vw;
}

.history-container{
    margin: 1vw;
}

.profilepage-btns{
    margin: 1vw;
}

.points-container{
    margin: 5vh 1vw 2vh;
}

.points-container h4{
    font-weight: bold;
}

.points-container p{
    line-height: 1vw;
    color: black;
}

/********************
    SL Page Styles
********************/ 
.account-page{
    padding: 50px 0;
}

.form-container{
    background-color: #A87363;
    width: 40vw;
    height: 55vh;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
}

.form-container span{
    font-weight: bold;
    font-size: 20px;
    padding: 0   10px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    width: 40vw;
    padding: 0 20px;
    position: absolute;
    top: 7vw;
    transition: transform 1s;
}

form.btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form.btn:focus{
    outline: none;
}

form a{
    padding: 1vw
}

#SignupForm{
    left: 0;
}

#LoginForm{
    left: -50vw;
}

#lottieAnimationLogin, #lottieAnimationSignup{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1vw;
}

/**************************
       Mobile Style
**************************/ 
.navicon{
    width: 8vw;
    margin-left: 1vw;
    display: none;
}

/**************************
       Media Queries
**************************/ 
@media only screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }
    /*Navigation Mobile Style*/
    .logo img{
        width: 12vw;
    }
    .logo{
        font-size: 20px;
    }
    nav ul{
        position: absolute;
        top: 20vw;
        left: 0;
        background-color: #99B1DD;
        width: 100%;
        overflow-y: auto;
        max-height: 50vh;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin: 1vw 5vw 1vw 0;
    }
    nav ul li a{
        color: #ffffff;
    }
    .navicon{
        display: block;
        cursor: pointer;
    }

    /*About Mobile Style*/
    .abouttitle, .membertitle, .contact-title{
        font-size: 25px;
        margin: 0;
    }
    .about-container h4{
        font-size: 20px;
        margin: 0;
    }
    .membercontainer{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 1em;
        display: flex;
        flex-wrap: wrap;
    }
    .membercontainer.col-2{
        width: 50%;
        padding: 0 0.5em;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 1em;
    }
    .member-title{
        width: 100%;
        text-align: left;
        margin: 0;
        padding-left: 1em;
    }
    .member img{
        width: 80%;
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    .member h3{
        font-size: 23px;
        margin-bottom: 0.5em 0;
    }
    .member h4{
        font-size: 20px;
        margin-bottom: 0;
    }

    /*Products Mobile Style*/
    .small-container{
        margin-top: 2vw;
        padding: 0;
    }
    .small-container.row-2{
        margin: 5vw auto 2vw;
    }
    .productspage-title{
        font-size: 35px;
        margin-bottom: 1vw;
    }
    .col-4 img{
        width: 100%;
        height: 40vh;
        object-fit: scale-down;
    }

     /*Details Mobile Style*/
     .information-container h1{
        font-size: 27px;
        margin-bottom: 2vh;
     }
     .information-container h4{
        font-size: 20px;
        padding-top: 2vh;
     }
     .information-container input{
        margin-bottom: 2vh;
     }
     .information-container h3{
        margin: 1vh 0;
     }

    /*Cart Mobile Style*/
    .cartpage h1{
        font-size: 30px;
    }

    /*Profile Mobile Style*/
    .profile-container .col-2{
        padding-bottom: 6vw;
    }

    /*SL Mobile Style*/
    .signuplogin-page{
        padding-bottom: 4vw;
    }

    .signuplogin-page .col-2{
        padding-left: 5px;
    }

    .form-container{
        width: 80vw;
        height: 70vh;
        padding: 20px;
        margin: auto;
        overflow: hidden;
        border-radius: 30px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .form-container span{
        font-size: 15px;
        width: 80px;
    }
    
    .form-btn{
        display: inline-block;
    }
    
    .form-container form{
        width: 78vw;
        height: 20px;
        padding: 10px 20px;
        position: absolute;
        top: 10vw;
        left: 0;
        transition: transform 1s;
    }

    #SignupForm{
        left: 0;
    }
    
    #LoginForm{
        left: -77vw;
    }
}