/**************************
      Universal Styles
**************************/ 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#EFE6E1, #F2EADF);
}

/**************************
       Header Styles
**************************/ 
.container{
    max-width: 100%;
    margin: auto;
    padding: 0 25px;
}

.header{
    background-color: #99B1DD;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    font-family: 'Rubik Puddles', system-ui;
    font-size: 50px;
    color: #ffffff;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-family: 'Single Day', cursive;
    font-size:22px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.profileiconimg{
    margin-right: 10px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .row{
    margin-top: 70px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

p{
    color: #99B1DD;
}

.btn{
    display: inline-block;
    background-color: #C9A195;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #DBB8B2;
}

/**************************
    Products Styles
**************************/ 
.small-container{
    max-width: 100%;
    margin: 0 auto;
}

.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 50px;
}

.productspage-title{
    margin: 0;
}

select{
    border: 1px solid #C9A195;
    padding: 5px;
    margin-left: 10px;
}

select:focus{
    outline: none;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img{
    width: 100%;
}

h4{
    font-weight: normal;
}

.col-4 p{
    font-size: 20px;
}

/*****************************
    Sloth Plush Page Styles
*****************************/ 
.detail-container{
    display:flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 0 25px;
}

.carousel-item-container{
    position: relative;
    width: 100%;
    float: left;
}

.custom-carousel-img{
    width: 50vw;
    height: 60vw;
}

.carousel-item{
    position: relative;
}

.sketchfab-embed-wrapper{
    width: 50vw;
    height: 60vw;
}

.carousel-control-prev,
.carousel-control-next{
    position: absolute;
    top: 50%;
    width: 5%;
    transform: translateY(-50%);
    color: #7A5946;
    background: none;
    border: none;
    font-size: 50px;
    font-style: bold;
}

.information-container{
    position: relative;
    width: 50%;
    float: right;
    padding-left: 20px;
}

.information-container h3{
    margin: 20px 0;
}

.information-container input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid #C9A195;
}

input:focus{
    outline: none;
}

/**********************
    Cart Page Styles
**********************/ 
.cartpage{
    margin: 8vw auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cartproducts{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    background: #A87363;
    color: white;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.totalcartprice{
    display: flex;
    justify-content: space-between;
}

.totalcartprice table{
    border-top: 3px solid #A87363;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/************************
    About Page Styles
************************/ 
.about-container{
    padding: 1vw;
}

.membercontainer{
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 1vw;
}

.membercontainer.col-2{
    max-width: 100%;
    flex: 0 0 46%;
    padding: 1vw;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.member{
    max-width: 100%;
    text-align: center;
    margin: 1vw;
}

.member img{
    width:20vw;
    height: 27vw;
    border-radius: 50%;
    object-fit: cover;
}

.contact-title{
    padding-left: 1vw;
    padding-top: 5vw;
}

.contact-details{
    padding-left: 1vw
}

/********************
    SL Page Styles
********************/ 
.account-page{
    padding: 50px 0;
}

.form-container{
    background-color: #A87363;
    width: 40vw;
    height: 35vw;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    width: 40vw;
    padding: 0 20px;
    position: absolute;
    top: 10vw;
    transition: transform 1s;
}

form.btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form.btn:focus{
    outline: none;
}

form a{
    padding: 1vw
}

#SignupForm{
    left: 0;
}

#LoginForm{
    left: -50vw;
}

#indicator{
    width: 17vw;
    background-color: #F2EADF;
    border: none;
    height: 0.5vh;
    margin-top: 8px;
    transform: translateX(15.5vw);
    transition: transform 1s;
}